.form_adicionar_produto,
.form_perfil {
  width: 39%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
}

.inputs_preco_qtd {
  display: flex;
  justify-content: space-between;
}

.link {
  margin-right: 30px;
}
