body {
  display: block;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
  gap: 6%;
  margin-right: 6%;
  height: 100%;
  background-color: #434343;
  width: 12%;
}

.main {
  width: 100%;
}
