@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  font-family: "Roboto";
  letter-spacing: 0.25px;
}

body {
  background-color: #e5e5e5;
  height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
}

.inputs {
  margin: 45px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.first_form {
  width: 30%;
  display: block;
  margin: 20px auto 0;
}

.seus_produtos {
  font-size: 34px;
  font-weight: 300;
}

.linha {
  width: 70%;
  margin-left: 0;
  margin-bottom: 40px;
}
